.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        test 
        %ul.RightHeader__memberList
          Member:masa
        %p.RightHeader__Member
          
    = link_to '#' ,class: "RightHeader__editButton" do
      Edit

  .MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__userName
          masa
        .MessageInfo__date
          2019/11/20
      .Message 
        %p.Message__content
          メッセージ

  .Footer
    %form.Form
      .Form__contents
        %input.Form__contents__inputContent{type: 'text' ,placeholder:"type a message"}
        %label.Form__contents__inputImage
          =icon('far', 'image', class: 'Form__icon')
          %input.Hidden{type: 'file'}
      %input.Form__Submit{type: 'submit', value: 'send'}
