* {
  box-sizing: border-box;
  }
  .wrapper {
  display: flex;
  }
  
  .SideBar {
    color: #ffff;
    width: 300px;
    .LeftHeader {
      background-color: #253141;
      height: 100px;
      justify-content: center;
      align-items: center;
      display: flex;
      &__list{
        height: 20px;
        width: 260px;
        display:flex;
        justify-content: space-between;
      }
        &__userName{
          height: 20px;
          color: #d8d8d8;
        }
        &__iconList {
          height: 20px;
          display:flex;
          align-items: center;
          margin-left: 5px;
        }
        .icon{
          color: #d8d8d8;
        }
      }                         
  }
  .GroupList {
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    padding: 0 20px;
  }  
  .Group{
    box-sizing: border-box;
    background-color: #2f3e51;
    padding: 20 0 40px;
    a{
      color: #ffffff;
      text-decoration: none;
    }  
      &__name{
      font-size: 15px;
      color: #d8d8d8;
      }
      &__message{
        font-size: 11px;
        margin-top: 5px;
        color: #d8d8d8;
        }
  }
  .Chat {
    width: calc(100vw - 300px);
  }
    .RightHeader {
      height: 100px;
      background-color: solid #ffffff;
      border-bottom: 100px solid 1px #eee;
      justify-content: space-between;
      display:flex;
      padding: 0 40px;  
      position: relative;
        &__groupName{
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }

      &__memberList{
        font-size: 12px;
        margin-top: 15px;
        display: flex;
        &__Member{ 
        padding: 5px;  
        font-size: 3px; 
        }
      }  
    
      &__editButton{
        display: block;
        border: 1px solid #38aef0;
        height: 40px;
        color: #38aef0;
        box-sizing: border-box;
        justify-content: space-between;
        line-height: 40px;
        margin-top: 28px;
        padding: 0 20px;
        font-size: 16px
      }    
    }  
    .MessageField{
      height: calc(100vh - 100px - 90px);
      width: calc(100vw - 300px);
      background-color: #fafafa;
      padding:35px 40px 0px;
      box-sizing: border-box;
      overflow: scroll;
    }    
    .MessageBox{
      margin-bottom: 46px;
    }
    .MessageInfo{
      display: flex;
      &__userName{
      color: #434a54;
      font-size: 16px;
      font-weight: bold;
      }
      &__date{
        color: #999999;
        font-size: 12px;
        padding-left:10px;
        font-weight: bold;
      } 
    }        
    .Message{
      &__content{
      color: #434a54;
      font-size: 14px
      } 
      &__image{
        height: 300px;
      }       
    }      

  .Footer {
    height: 90px;
    width: calc(100vw - 300px);
    background-color: #dddddd;
    padding: 20px 40px;
  }
  .Form{
    display: flex;
    &__contents{
      width: 100%;
      background-color: #fff;
      position: relative;
    }
    &__inputContent {
      border: none;
      height: 50px;
      width: 100%;
      padding: 0 45px 0 15px;
    }
    &__inputImage {
      height: 50px;
      position: absolute;
      right: 10px;
    }
    .fa-image {
      line-height: 50px;
      font-size: 25px;
    }
  
    &__submit {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
    }
    .Hidden {
      display: none;
    }
  }  